# reference links for EditorConfig Values are available @
#	https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
#	https://kent-boogaart.com/blog/editorconfig-reference-for-c-developers

# only for the top-most EditorConfig file
root = true

[*]
indent_size = 4
indent_style = space

[*.cs]
max_line_length = 140
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
tab_width = 4
trim_trailing_whitespace = true

csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_labels = flush_left
csharp_indent_switch_labels = true
resharper_csharp_indent_nested_usings_stmt = true
resharper_csharp_indent_nested_fixed_stmt = true
resharper_csharp_indent_nested_lock_stmt = true
resharper_csharp_indent_nested_for_stmt = true
resharper_csharp_indent_nested_foreach_stmt = true
resharper_csharp_indent_nested_while_stmt = true
resharper_csharp_indent_type_constraints = true

resharper_csharp_keep_user_linebreaks = false
resharper_csharp_simple_embedded_statement_style = line_break
resharper_csharp_simple_case_statement_style = line_break
resharper_csharp_simple_embedded_block_style = line_break
csharp_new_line_before_else = false
resharper_csharp_new_line_before_while = true
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_between_query_expression_clauses = true
csharp_new_line_before_open_brace = types  #all none accessors,types,methods,properties,indexers,events,anonymous_methods,control_blocks,anonymous_types,object_collection_array_initalizers,lambdas,local_functions
resharper_brace_style = end_of_line
resharper_csharp_type_declaration_braces = next_line
#resharper_csharp_invocable_declaration_braces = end_of_line
#resharper_csharp_anonymous_method_declaration_braces = end_of_line
#resharper_csharp_accessor_owner_declaration_braces = end_of_line
#resharper_csharp_accessor_declaration_braces = end_of_line
#resharper_csharp_case_block_braces = end_of_line
#resharper_csharp_initializer_braces = end_of_line
#resharper_csharp_other_braces = end_of_line
resharper_csharp_empty_block_style = together_same_line

resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_before_declaration_lpar = false
resharper_csharp_wrap_after_declaration_lpar = false
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_invocation_lpar = false
resharper_csharp_wrap_after_invocation_lpar = false
resharper_csharp_wrap_before_comma = false
resharper_csharp_wrap_chained_method_calls = chop_if_long
resharper_csharp_wrap_after_dot_in_method_calls = false
resharper_csharp_wrap_before_extends_colon = false
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_for_stmt_header_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = chop_if_long
resharper_csharp_wrap_before_ternary_opsigns = false
resharper_csharp_wrap_multiple_declaration_style = chop_if_long
resharper_csharp_wrap_linq_expressions = chop_if_long
resharper_csharp_wrap_chained_binary_expressions = chop_if_long
resharper_csharp_wrap_before_binary_opsign = false
resharper_csharp_force_chop_compound_if_expression = false
resharper_csharp_force_chop_compound_while_expression = false
resharper_csharp_force_chop_compound_do_expression = false
resharper_csharp_wrap_multiple_type_parameer_constraints_style = chop_if_long
resharper_csharp_wrap_object_and_collection_initializer_style = chop_if_long
resharper_csharp_wrap_array_initializer_style = chop_if_long
resharper_csharp_wrap_before_first_type_parameter_constraint = true
resharper_csharp_place_abstract_accessorholder_on_single_line = true
resharper_csharp_place_simple_accessorholder_on_single_line = false
resharper_csharp_place_accessor_with_attrs_holder_on_single_line = false
resharper_csharp_place_simple_accessor_on_single_line = true
resharper_csharp_place_simple_method_on_single_line = false
resharper_csharp_place_simple_anonymousmethod_on_single_line = true
resharper_csharp_place_simple_initializer_on_single_line = true
resharper_csharp_place_type_attribute_on_same_line = false
resharper_csharp_place_method_attribute_on_same_line = false
resharper_csharp_place_accessorholder_attribute_on_same_line = false
resharper_csharp_place_simple_accessor_attribute_on_same_line = false
resharper_csharp_place_complex_accessor_attribute_on_same_line = false
resharper_csharp_place_field_attribute_on_same_line = false
resharper_csharp_place_constructor_initializer_on_same_line = false
resharper_csharp_place_type_constraints_on_same_line = false

resharper_csharp_align_multiline_parameter = true
resharper_csharp_align_multiline_argument = true
resharper_csharp_align_multiline_extends_list = true
resharper_csharp_align_multiline_expression = true
resharper_csharp_align_multiline_binary_expressions_chain = true
resharper_csharp_align_multiline_calls_chain = true
resharper_csharp_align_multiline_array_and_object_initializer = false
resharper_csharp_indent_anonymous_method_block = true
resharper_csharp_align_multiline_for_stmt = true
resharper_csharp_align_multiple_declaration = true
resharper_csharp_align_multline_type_parameter_list = true
resharper_csharp_align_multline_type_parameter_constrains = true
resharper_csharp_align_linq_query = true
resharper_csharp_special_else_if_treatment = true

resharper_csharp_blank_lines_between_using_groups = 0
resharper_csharp_blank_lines_after_using_list = 1
resharper_csharp_blank_lines_around_namespace = 1
resharper_csharp_blank_lines_inside_namespace = 0
resharper_csharp_blank_lines_around_type = 1
resharper_csharp_blank_lines_inside_type = 1
resharper_csharp_remove_blank_lines_near_braces_in_declarations = true
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_remove_blank_lines_near_braces_in_code = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_single_line_field = 0
resharper_csharp_blank_lines_around_property = 1
resharper_csharp_blank_lines_around_single_line_property = 1
resharper_csharp_blank_lines_around_auto_property = 1
resharper_csharp_blank_lines_around_single_line_auto_property = 1
resharper_csharp_blank_lines_around_invocable = 1
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_blank_lines_around_local_method = 1
resharper_csharp_blank_lines_around_single_line_local_method = 1

csharp_prefer_braces = true:error
csharp_prefer_simple_default_expression = true:error
csharp_preserve_single_line_blocks = false
csharp_preserve_single_line_statements = false

csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = do_not_ignore
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = none
csharp_space_between_square_brackets = false

csharp_style_conditional_delegate_call = true:suggestion
csharp_style_expression_bodied_accessors = true:none
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_indexers = true:none
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_operators = false:none
csharp_style_expression_bodied_properties = true:none
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_throw_expression = true:suggestion

csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = false:suggestion

dotnet_sort_system_directives_first = true

dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

## Naming Conventions
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

dotnet_naming_style.camel_case_style.capitalization = camel_case

dotnet_naming_symbols.constant_fields.applicable_kinds   = field
dotnet_naming_symbols.constant_fields.required_modifiers = const
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style    = pascal_case_style

dotnet_naming_symbols.private_field_symbol.applicable_kinds           = field
dotnet_naming_symbols.private_field_symbol.applicable_accessibilities = private
dotnet_naming_style.private_field_style.capitalization  = camel_case
dotnet_naming_style.private_field_style.required_prefix = _
dotnet_naming_rule.private_fields_are_camel_case.severity = error
dotnet_naming_rule.private_fields_are_camel_case.symbols  = private_field_symbol
dotnet_naming_rule.private_fields_are_camel_case.style    = private_field_style

dotnet_naming_symbols.non_private_field_symbol.applicable_kinds           = field
dotnet_naming_symbols.non_private_field_symbol.applicable_accessibilities = public,internal,friend,protected,protected_internal,protected_friend
dotnet_naming_rule.non_private_fields_are_pascal_case.severity = error
dotnet_naming_rule.non_private_fields_are_pascal_case.symbols  = non_private_field_symbol
dotnet_naming_rule.non_private_fields_are_pascal_case.style    = pascal_case_style

dotnet_naming_symbols.parameter_symbol.applicable_kinds = parameter
dotnet_naming_rule.parameters_are_camel_case.severity = error
dotnet_naming_rule.parameters_are_camel_case.symbols  = parameter_symbol
dotnet_naming_rule.parameters_are_camel_case.style    = camel_case_style

dotnet_naming_symbols.non_interface_type_symbol.applicable_kinds = class,struct,enum,delegate
dotnet_naming_rule.non_interface_types_are_pascal_case.severity = error
dotnet_naming_rule.non_interface_types_are_pascal_case.symbols  = non_interface_type_symbol
dotnet_naming_rule.non_interface_types_are_pascal_case.style    = pascal_case_style

dotnet_naming_symbols.interface_type_symbol.applicable_kinds = interface
dotnet_naming_style.interface_type_style.capitalization  = pascal_case
dotnet_naming_style.interface_type_style.required_prefix = I
dotnet_naming_rule.interface_types_must_be_prefixed_with_I.severity = error
dotnet_naming_rule.interface_types_must_be_prefixed_with_I.symbols  = interface_type_symbol
dotnet_naming_rule.interface_types_must_be_prefixed_with_I.style    = interface_type_style

dotnet_naming_symbols.member_symbol.applicable_kinds = method,property,event
dotnet_naming_rule.members_are_pascal_case.severity = error
dotnet_naming_rule.members_are_pascal_case.symbols  = member_symbol
dotnet_naming_rule.members_are_pascal_case.style    = pascal_case_style


# C++ Files
[*.{cpp,h,in}]
curly_bracket_next_line = true 
indent_brace_style = Allman 

# Xml project files 
[*.{csproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}] 
indent_size = 2 

# Xml build files 
[*.builds] 
indent_size = 2 

# Xml files 
[*.{xml,stylecop,resx,ruleset}] 
indent_size = 2 

# Shell scripts 
[*.sh] 
end_of_line = lf 
[*.{cmd, bat}] 
end_of_line = crlf 

